/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*===============
    General Styles 
    ================*/
   html, body {
    font-size: 20px;
    font-family: "Alata", sans-serif;
    text-align: left;
    color: #351D77;
    background-color: #E8F0E4;
    width: 100%;
    overflow-x: hidden;
   }

   @media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;  
    }
}

   .hero-wrapper, #about {
    background-color: white;
   }

   /*======================
    Header Styles
    =======================*/
   header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .greeting {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 1.6rem;
   }

   nav ul li {
    list-style: none;
    padding: 5px 15px;
   }

   nav ul li:hover {
    background-color: #EEE4F0;;
    border-radius: 40px;
    padding: 5px 15px;
   }

   nav ul li a {
    text-decoration: none;
    color: #351D77;
   }

   .home-title {
    align-content: center;
    padding: 20px 50px;
    margin-top: 3.3rem;
   }

   h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%
   } 

   .home-title p {
    text-align: center;
   }

   /*=========================
    Main Section 
    ==========================*/

   #projects {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4.4rem;
   }

   .work {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
   }

   .portfolio-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 2.2rem;
    width: 80%;
   }

   .portfolio-wrapper h3 {
    margin-bottom: 2.2rem;
   }

   .portfolio-wrapper img {
    object-fit: contain;
    width: 90%;
    border: .4rem solid #E8F0E4;
   }

   .project-info {
    display: flex;
    flex-direction: column;
   }

   .project-info .class-description {
    margin-bottom: 1.6rem;
   }

   .project-info p {
    margin: 0;
   }

   .project-info .tools {
    margin-bottom: 2.2rem;
   }

   .portfolio-wrapper span {
    font-size: .9rem;
   }

   .live-page-link {
    text-decoration: none;
   }

   .live-page-link span {
    background-color: #E9B14C;
    border-radius: 100px;
    padding: 3px 35px 3px 35px;
    font-size: 1.2rem;
    color: #351D77;
   }

   .live-page-link span:hover {
    background-color: #F8D697;
   }

   /*===========================
    Skills section 
    ============================*/
   #skills {
    display: flex;
    justify-content: center;
    margin-bottom: 4.4rem;
   }

   .content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3.3rem;
   }

   h2 {
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
   }

   .skills-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
   }

   .skills-wrapper .skill-item {
    background-color: #E9B14C;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
   }

   .skill-item span {
    padding: .6rem;
   }

   .content-wrapper .tools-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
   }

   .tools-wrapper .tool-item {
    background-color: #E9B14C;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
   }

   .tool-item span {
    padding: .6rem;
   }

   /*==========================
    About Section 
    ============================*/

   .about-info {
    display: flex;
    flex-direction: column;
    padding-top: 4.4rem;
   }

   .about-info figure {
    display: flex;
    justify-content: center;
   }

   .about-info img {
    max-height: 300px;
    border: none;
   }

   .about-info h1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.2rem;
   }

   .about-info h3 {
    margin: 2.2rem 1.5rem 0;
   }

   .about-info p {
    display: flex;
    margin: 2.2rem 1.5rem 0;
   }

   .about-info h4 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4.4rem;
   }

   /*=============================
    Footer styles 
    ==============================*/
   #contact-info { 
    display: flex;
    flex-direction: column;
    margin-top: 2.2rem;
   }

   .hire-me {
    margin-bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .hire-me p {
    text-align: center;
   }

   .contact h2 {
    text-align: center;
    margin-bottom: 3.3rem;
   }

   .contact h3 {
    text-align: center;
    margin-bottom: 1.6rem;
   }

   .social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 79%;
    margin-bottom: 3.3rem;
   }

   .social-icons li {
    list-style: none;
   }

   .social-icons i{
    font-size: 2.4rem;
    color: #351D77;
   }

   /*===========================
    Meet me div 
    =============================*/

    .meet-me {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

   .meet-me p {
    margin-bottom: 3.3rem;
    text-align: center;
   }

   .contact p {
    margin-bottom: 3.3rem;
    text-align: center;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tabelt Styles */
  /*=========================
   General Styles 
   ==========================*/
  html, body {
    font-size: 24px;
  }

  /*========================== 
  Header Styles 
  =============================*/
  header {
    margin: 1.5rem;
   }

   .home-title {
    margin: 4.4rem 0;
   }

   h1 {
    padding-bottom: 15px;
   }

  /*=========================== 
  Main section 
  =============================*/
  .work {
    flex-flow: wrap;
    padding: 3.3rem 0;
  }

  #projects {
    width: 90%
   }
   
  .portfolio-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    width: 50%;
   }

   .portfolio-wrapper img {
    margin-bottom: 2.2rem;
   }

   .project-info {
    margin: 0 2.2rem 2.2rem 2.2rem;
   }

   .portfolio-wrapper span {
    font-size: 1.2rem;
   }

   /*============================== 
   Skills Section 
   =================================*/

   #skills {
    margin-bottom: 6.6rem;
   }

  .skills-wrapper {
    justify-content: space-around;
    width: 96%;
    align-content: center;
    flex-flow: row wrap;
    padding: 0 1rem;
   }

   .skill-item {
    display: flex;
    justify-content: center;
    width: 33%;
    align-items: center;
    padding: 0 1rem;
   }

   .skill-item span {
    text-align: center;
   }

   .content-wrapper .tools-wrapper {
    width: 96%;
    flex-flow: row wrap;
    align-content: center;
    padding: 0 1rem;
   }

   .tool-item {
    display: flex;
    justify-content: center;
    width: 33%;
    align-items: center;
    padding: 0 1rem;
   }

   .tool-item span {
    text-align: center;
   }

  /*================================== 
  About Section 
  =====================================*/

  .about-info {
    padding-top: 6.6rem;
  }

  .about-info img {
    max-height: 400px;
  }

  .about-info h1 {
    margin-top: 4.4rem;
    margin-bottom: 3.3rem;
  }

  .about-info h3 {
    margin: 2.2rem 3.5rem 0;
  }

  .about-info p {
    line-height: 2.5rem;
    margin: 2.2rem 3.5rem 0;
  }

  .about-info h4 {
    margin-bottom: 4.4rem;
  }

  /*================================== 
  Footer Section 
  ====================================*/
  #contact-info {
    flex-flow: row wrap;
    margin-top: 4.4rem;
  }

  #contact-info h2 {
    width: 100%;
    margin-bottom: 4.4rem;
  }

  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .hire-me {
    flex-basis: 20%;
  }

  #contact-info p {
    line-height: 2rem;
    margin-bottom: 4.4rem;
  }

  .connect {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
  }

  .social-icons {
    justify-content: center;
    width: 50%;
  }

  .social-icons i {
    padding-left: 1rem;
  }

  .meet-me {
    flex-basis: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  /*===============================================
              Desktop Styles 
    ===============================================*/
    /*=============================================
     Header Styles 
     ===============================================*/
  
  body {
    font-size: .7rem;
  }
  p {
     font-size: .7rem;
   }

  .greeting {
    width: 85%;
  }

  nav ul {
    justify-content: flex-end;
  }

  .nav-list {
    background-color: #E8F0E4;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
  }

  .nav-list:hover {
    background-color: #EEE4F0;
  }

  .home-title p {
    margin: 0 6rem;
  }

 /*=========================================================
      Main Section 
  ==========================================================*/
  /*================= 
  Projects 
  ===================*/
  .portfolio-wrapper {
    flex-direction: column;
  }

  .work {
    margin: 2rem 5rem;
  }
  .image-link {
    display: flex;
    justify-content: center;
  }

  .portfolio-wrapper h3 {
    display: flex;
    justify-content: center;
  }

  .class-description {
    width: 100%;
  }

  .live-page-link {
    display: flex;
    justify-content: center;
  }

  .live-page-link span {
    background: #E9B14C;
    border-radius: 50px;
    padding: 0 15px;
    font-size: .9rem;
  }

  .live-page-link span:hover {
    background: #F8D697;
  }

  .portfolio-wrapper span {
    font-size: .9rem;
   }

  /*================================
  Skills Section
  =================================*/
  #skills {
    margin: 1rem;
  }

  .content-wrapper {
    width: 60%;
  }

  .content-wrapper h2 {
    padding-bottom: 1rem;
  }

  .skills-wrapper {
    justify-content: space-around;
  }
  .skill-item {
    width: 25%;
    padding: 0 .2rem;
    white-space: nowrap;
  }

  .skill-item span {
    font-size: .7rem;
    background: #E9B14C;
  }

  .content-wrapper .tools-wrapper {
    padding: 0 1rem 6.6rem;
  }

  .tools-wrapper .tool-item {
    font-size: .75rem;
  }
  /*================================
  About Section 
  =================================*/

  .about-info {
    padding: 3rem;
    flex-direction: row;
  }

  .about-info figure {
    display: flex;
    align-items: center;
  }

  .about-info img {
    width: 150%;
    max-height: none;
  }

  .about-info aside {
    display: flex;
    flex-direction: column;

  }

  .about-info h1 {
    margin-bottom: 0;
  }

  .about-info h3 {
    margin: 2.2rem 2rem 0 3rem;
  }
  
  .about-info p {
    line-height: 1.5rem;
    margin: 1.2rem 2rem 0 3rem;
  }
  
  /*=================================
  Footer Section
  ===================================*/

  #contact-info {
    margin: 5rem 5rem 0 5rem;
  }

  #contact-info h2 {
    margin-bottom: 3rem;
  }

  .contact {
    width: 100%;
  }

  .contact .hire-me {
    flex-basis: 30%;
  }

  .contact .connect {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .social-icons li {
    margin-right: 2rem;
    margin-left: 1rem;
  }

  .contact .meet-me {
    flex-basis: 33%;
  }
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

