/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*== General Styles ==*/
   html, body {
    font-size: 20px;
    font-family: "Alanta" sans-serif;
    text-align: left;
    color: #351D77;
    background-color: #E8F0E4;
    max-width: 1200px;
    width: 100%;
    overflow-x: hidden;
   }

   .hero-wrapper, #about {
    background-color: white;
   }


   p {
    line-height: 30px;
    text-align: center;
   }


   /*== Header Styles ==*/
   header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .greeting {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
   }

   nav ul li {
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 0 15px;
    list-style: none;
   }

   /*=== Main Section ===*/

   a {
    text-decoration: none;
    /*== save for desktop styles 
    background-color: #EEE4F0;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;*/
   }

   /* save for desktop styles 
   a:hover {
    background-color: #EEE4F0;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
   }*/

   .home-title {
    align-content: center;
    padding: 20px 50px;
   }

   h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%
   } 

   /*== main styles ==*/
   #projects {
    display: flex;
    justify-content: center;
    align-content: center;
   }

   .work {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-flow: row wrap;
    padding: 10px 10px;

   }

   .portfolio-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 15px;
    margin-bottom: 3rem;
   }

   img {
    max-height: 200px;
    border: .4rem solid #E8F0E4;
   }

   .class-description {
    text-align: center;
    margin: 2.9rem;
   }

   .live-page-link {
    background-color: #F8D697;
    border-radius: 100px;
    padding: 3px 35px 3px 35px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #351D77;
   }

   /*=== Skills section ===*/

   .content-wrapper {
    display: flex;
    flex-direction: column;
   }

   h2 {
    display: flex;
    justify-content: center;
   }

   #skills {
    margin-bottom: 3rem;
   }

   .skills-wrapper {
    display: flex;
    flex-flow: column wrap;
   }

   .skill-item {
    line-height: 30px;
    padding: .6rem;
    background-color: #E9B14C;
    margin: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
   }

   span {
    padding: .4rem;
   }

   /*=== About Section ===*/

   .about-info {
    display: flex;
    flex-direction: column;
   }

   .about-info figure {
    display: flex;
    justify-content: center;
   }

   .about-info h3 {
    display: flex;
    justify-content: space-evenly;
   }

   .about-info p {
    display: flex;
    margin: 0 1.5rem;
   }

   .about-info h4 {
    display: flex;
    justify-content: space-evenly;
   }

   /*=== Footer styles ===*/
   .contact {
    display: flex;
    flex-direction: column;
   }

   .hire-me {
    margin-bottom: 3rem;
   }

   .contact h2 {
    text-align: center;
   }

   .contact-info h3 {
    text-align: center;
    margin-bottom: 2rem;
   }

   .connect h3 {
    margin-bottom: 2rem;
   }

   .social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-right: 1.9rem;
    margin-bottom: 3rem;
   }

   .social-icons li {
    list-style: none;
   }

   .social-icons i{
    font-size: 2.4rem;
   }

   /*=== Meet me div ===*/

   .meet-me p {
    margin-bottom: 3rem;
   }

   .contact p {
    margin-bottom: 3rem;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tabelt Styles */
  /*== General Styles ==*/
  html, body {
    font-size: 24px;
  }

  /*=== Header Styles ===*/
  header {
    margin: 1.5rem;
   }

   .home-title {
    padding: 30px 60px;
   }

   h1 {
    padding-bottom: 15px;
   }

  /*====== Main section =======*/
  .work {
    flex-flow: wrap;
    padding: 2rem 0;
  }

  #projects {
    width: 90%
   }
   
   .portfolio-wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding-bottom: 0;
    width: 45%;
   }

   /*=== Skills Section ===*/

   .skills-wrapper {
    justify-content: space-around;
    align-content: center;
    width: 75%;
    align-content: center;
    flex-flow: row wrap;
    padding-left: 5rem;
   }

   .skill-item {
    line-height: 30px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 33%;
    align-items: center;
   }

}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

